
<div><ion-item>
  <ion-label position="floating">id </ion-label>
  <ion-input #box_id></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">name</ion-label>
  <ion-input #box_name></ion-input>
</ion-item>
<ion-button (click)="sendData(box_id.value,box_name.value)">Default</ion-button>



<ion-button  (click)="goBack()">Back</ion-button> 

<ion-button  (click)="getMessage()">message</ion-button>

<ion-button  (click)="initialize()">initialize</ion-button> 
string says {{message}} 
</div>